[Unit]
Description=Auto WiFi Reconnect Service
After=network.target

[Service]
ExecStart=/srv/sr/scripts/utils/auto_wifi.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

